<div style = "width-left:25%" ng-hide = "edit == 1">
	<nav class="navbar navbar-default">
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<div style="float: left">
					<input type="text" class="form-control" placeholder="Search"
						ng-model="searchItem">
				</div>

				<div style="float: right"></div>
			</div>
		</form>
	</nav>
	Edit your Existing Inventory
	<!-- <p ng-repeat = "x in itemlist">{{x}}</p> -->

	<table class="table" >
		<thead>
			<tr>
				<th></th>
				<th>id</th>
				<th>department</th>
				<th>name</th>
				<th>unit price</th>
				<th>quantity</th>
				<th>description</th>
				<th>image</th>
				
			</tr>
		</thead>
		<tr
			ng-repeat="x in itemlist  | orderBy:sortType:sortReverse | filter:searchItem">
			<td><button type = "button" ng-click = "change(x)">Edit Stock</button></td>
			<td>{{x.id}}</td>
			<td>{{x.departmentid}}</td>
			<td>{{x.name}}</td>
			<td>{{x.unitPrice}}</td>
			<td>{{x.quantity}}</td>
			<td>{{x.description}}</td>
			<td><img ng-src = "{{x.image}}"/></td>
		</tr>
	</table>
</div>
<div ng-hide = "edit == 0">
	<table>
		<thead>
		<tr>
			<th>Current Inventory Information</th>
			<th>New Inventory Information</th>
			</tr>
		</thead>
		<tr>
		<td>
			<input ng-value="AR.name" disabled><br/>
			<input ng-value="AR.unitPrice" disabled><br/>
			<input ng-value="AR.quantity" disabled><br/>
			<input ng-value = "AR.description" disabled><br/>
			<button ng-click = "reset()">Go Back</button>
			</td>
			<td>
			<input placeholder = "New Name" ng-model = "newName"><br/>
			<input placeholder = "New Unit Price" ng-model = "newUnitPrice"><br/>
			<input placeholder = "New Quantity" ng-model = "newQuantity"><br/>
			<input placeholder = "New Description" ng-model = "newDescription"><br/>
			<input placeholder="% discount" ng-model="percentDiscount" ng-show="perDiscount" required>
			<input placeholder = "Flat discount" ng-model = "flatDiscount" ng-show = "fDiscount"><br />
			<input placeholder = "Discount Reason" ng-model = "pDiscountReason" ng-show = "perDiscount || fDiscount"required>
			<br/>
			<button type = "submit" ng-click = "editItem()">Submit New Information</button>
			</td> 
			<td>
			Apply Discount?
			<input type="checkbox" ng-model="showDiscount">
			<p ng-show="showDiscount">
				Discount Percentage? <input type="checkbox" ng-model="perDiscount">
			</p>
			<p ng-show="showDiscount">
				Discount flat rate? <input type="checkbox" ng-model="fDiscount">
			</p>


			</td>
		</tr>
	</table>

	
</div>
