<div class = "w3-sidebar w3-bar-block" id = "managerSideNav" style = "width 25%">
    <a ui-sref = "manageInventoryHome" class="w3-bar-item w3-button">Manage Inventory</a>
  	<a href="#" class="w3-bar-item w3-button">Check Sales</a>
  	<a ui-sref= "customers" class="w3-bar-item w3-button">Check Customer Database</a>
    <a href="#" class="w3-bar-item w3-button">Generate Reports</a>
    <a ui-sref= "adminInfo" class="w3-bar-item w3-button">View/Edit Personal Information</a>
    <a href="#" class="w3-bar-item w3-button">Logout</a>
</div>

<div style = "margin-left:25%" id = "adminHomePage">
    <p>Welcome to the World Tree Management Portal</p>
    <p>Here you can manage your current inventory. You can also add new stock, check sales, and also view customer information</p>  
    
    </div>