
<div class="panel panel-green center">
	<div class="panel-heading">

		<h3>
			<span class="glyphicon glyphicon-shopping-cart"></span> Your cart has
			{{getNumberOfItemsInCart()}} items
		</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
			<tr ng-repeat="item in cart track by $index">
				<td>{{item.name}}</td>
				<td>{{item.unitPrice | currency}}</td>
				<td>{{item.quantity}}</td>
				<td><a ng-click="removeFromCart(item)" class="btn"><span class="glyphicon glyphicon-trash"></span> Remove from Cart</a></td>
			</tr>
			<tr>
				<th>Total</th>
				<td>{{getTotal() | currency}}</td>
			</tr>
		</table>
		<button class="btn btn-green" ng-click="checkout()" ng-disabled="{{getNumberOfItemsInCart() < 1}}">Checkout</button>
		<button class="btn btn-orange" ui-sref="mainStorePage">Keep Shopping</button>
	</div>
</div>

