
<div class="panel panel-green center" ng-app="cartApp"
	ng-controller="cartController">
	<div class="panel-heading">

		<h3>
			<span class="glyphicon glyphicon-shopping-cart"></span> Your cart has
			{{items.length}} items
		</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
			<tr ng-repeat="item in items">
				<td>{{item.name}}</td>
				<td>{{item.price | currency}}</td>
				<td>{{item.quantity}}</td>
			</tr>
			<tr>
				<th>Total</th>
				<td>{{getTotal() | currency}}</td>
			</tr>
		</table>
		<a class="btn btn-green">Checkout</a><a class="btn btn-orange">Keep
			Shopping</a>
	</div>
</div>
