<div class="jumbotron">
			<h2>Customer Login</h2>
			<form class="form-horizontal" ng-submit="login.doLogin()">
    			<div class="form-group">
        			<div class="col-xs-10">
            			<input type="text" class="form-control" ng-model="login.customer.email" placeholder="Email" required>
       				 </div>
    			</div>
    			<div class="form-group">
        			<div class="col-xs-10">
            			<input type="password" class="form-control" ng-model="login.customer.password" placeholder="Password" required>
       				 </div>
    			</div>
    			<button type="submit" class="btn" align="center">Login</button>
    		</form>
</div>
<br>
<br>
</div>