<div class="row"><div class="col">
<div class="jumbotron-fluid m-2">
	   <p class="lead">Welcome to the WorldTree Store.</p>
</div></div></div>

<table class="table">
	<tr ng-repeat="item in itemsToShow | orderBy:sortType:sortReverse | filter:searchTerms">
		<td>{{item.name}}</td>
		<td>{{item.unitPrice | currency}}</td>
		<td>{{item.quantity}} in stock</td>
		<td>{{item.department.name}}</td>
		<td>{{item.description}}</td>
		<td><img ng-src="{{item.image}}" width="{{item.imageWidth}}" height="{{item.imageHeight}}"></td>
		<td><button class="btn" ng-click="viewPage(item)">See more</button></td>
	</tr>
</table>
