<div class = "w3-sidebar w3-bar-block" id = "managerSideNav" style = "width 25%">
	<a ui-sref = "dashboard" class="w3-bar-item w3-button">Dashboard</a>
    <a ui-sref = "manageInventoryHome" class="w3-bar-item w3-button">Manage Inventory</a>
  	<a ui-sref="sales" class="w3-bar-item w3-button">Check Sales</a>
  	<a ui-sref= "customers" class="w3-bar-item w3-button">Check Customer Database</a>
    <a ui-sref= "adminInfo" class="w3-bar-item w3-button">View/Edit Personal Information</a>
    <a href="#" class="w3-bar-item w3-button">Logout</a>
</div>

<div style = "margin-left:25%" class="jumbotron" >
	<div class="container">
		<h3>All Customers</h3>

		<nav class="navbar navbar-default">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div style="float: left">
						<input type="text" class="form-control" placeholder="Search" ng-model = "searchCustomer">
					</div>
					<div style="float: right">
					</div>
				</div>
			</form>
		</nav>

		<table class="table table-striped table-hover">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Street Address</th>
				<th>City</th>
				<th>State</th>
				<th>Zipcode</th>
				<th>Phone</th>
			</tr>
			<tr ng-repeat="cust in allCusts | orderBy:sortType:sortReverse | filter:searchCustomer">
				<td>{{cust.firstname}}</td>
				<td>{{cust.lastname}}</td>
				<td>{{cust.email}}</td>
				<td>{{cust.address}}</td>
				<td>{{cust.city}}</td>
				<td>{{cust.state.name}}</td>
				<td>{{cust.zipcode}}</td>
				<td>{{cust.phone}}</td>
			</tr>
		</table>
	</div>
</div>
