<div class = "w3-sidebar w3-bar-block" id = "managerSideNav" style = "width 25%">
    <a ui-sref = "manageInventoryHome" class="w3-bar-item w3-button">Manage Inventory</a>
  	<a ui-sref="sales" class="w3-bar-item w3-button">Check Sales</a>
  	<a ui-sref= "customers" class="w3-bar-item w3-button">Check Customer Database</a>
    <a ui-sref= "adminInfo" class="w3-bar-item w3-button">View/Edit Personal Information</a>
    <a href="#" class="w3-bar-item w3-button">Logout</a>
</div>

<div style = "margin-left:25%" id = "manageInventoryHomePage" ui-view>
  Manage your Inventory Here. Choose an option: 
  <div>
    <br/>
    <a class = "MIHLinks" ui-sref = "manageInventoryHome.viewCurrentInventory">View Current Inventory</a>
    <br/>
    <br/>
    <a class = "MIHLinks" ui-sref = "manageInventoryHome.add-remove">Add or Remove Current Inventory</a>
    <br/>
    <br/>
    <a class = "MIHLinks" ui-sref = "manageInventoryHome.addNewInventory">Add New Items to Inventory</a>
  </div>
  </div>
  
  