<div id = "manageInventoryHomePage" ui-view>
  <h1 class="display-4 text-center m-2">Manage</h1>
  <hr><br>
  <span class="lead" Manage your Inventory Here. Choose an option:</span> 
  <div class="row">
    <br/><div class="col">
    <a class = "text-primary" ui-sref = "manageInventoryHome.viewCurrentInventory">View Current Inventory</a>
    <br/></div>
    <br/><div class="col">
    <a class = "text-primary" ui-sref = "manageInventoryHome.add-remove">Add or Remove Current Inventory</a>
    <br/></div>
    <br/><div class="col">
    <a class = "text-primary" ui-sref = "manageInventoryHome.addNewInventory">Add New Items to Inventory</a>
  </div></div>
  </div>
  
