<div class = "w3-sidebar w3-bar-block" id = "managerSideNav" style = "width 25%">
    <a ui-sref = "manageInventoryHome" class="w3-bar-item w3-button">Manage Inventory</a>
  	<a ui-sref="sales" class="w3-bar-item w3-button">Check Sales</a>
  	<a ui-sref= "customers" class="w3-bar-item w3-button">Check Customer Database</a>
    <a ui-sref= "adminInfo" class="w3-bar-item w3-button">View/Edit Personal Information</a>
    <a href="#" class="w3-bar-item w3-button">Logout</a>
</div>
<div style = "margin-left:25%">
	<nav class="navbar navbar-default">
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<div style="float: left">
					<input type="text" class="form-control" placeholder="Search"
						ng-model="searchItem">
				</div>
				<div style="float: right"></div>
			</div>
		</form>
	</nav>
	Viewing your current inventory
	<!-- <p ng-repeat = "x in itemlist">{{x}}</p> -->
	<table class="table" ng-hide = "hide == 1">
		<thead>
			<tr>
				<th>Order ID#</th>
				<th>Customer ID#</th>
				<th>Order Date</th>
				<th>Display More Detail</th>
			</tr>
		</thead>
		<tr
			ng-repeat="x in orderList | orderBy:sortType:sortReverse | filter:searchItem">
			<td>{{x.id}}</td>
			<td>{{x.customer.id}}</td>
			<td>{{x.order_Date | date:MM-dd-YY}}</td>
			<td><button ng-click = "showOrder(x)">More Info</button></td>
		</tr>
	</table>
</div>


<div ng-hide = "hide == 0" style = "margin-left:25%">
	<table class="table">
		<thead>
			<tr>
				<th>Order ID#</th>
				<th>Line Item#</th>
				<th>Quantity</th>
				<th>From Inventory ID</th>
			</tr>
		</thead>
		<tr
			ng-repeat="x in lineitems | orderBy:sortType:sortReverse | filter:searchItem">
			<td>{{x.order.id}}</td>
			<td>{{x.id}}</td>
			<td>{{x.quantity}}</td>
			<td>{{x.inventoryItem.id}}</td>
			<td><button ng-click = "goBack()">Go Back</button></td>
		</tr>
	</table>


</div>



