<div class="container border border-dark mt-2">
		<h1 class="display-4 text-center m-2">Sales</h1>

		<nav class="float-left navbar navbar-default">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
						<input type="text" class="form-control" placeholder="Search" ng-model = "searchCustomer">
				</div>
			</form>
		</nav>
	
	<table class="table" ng-hide = "hide == 1">
		<thead>
			<tr>
				<th>Order ID#</th>
				<th>Customer ID#</th>
				<th>Order Date</th>
				<th>Display More Detail</th>
			</tr>
		</thead>
		<tr
			ng-repeat="x in orderList | orderBy:sortType:sortReverse | filter:searchItem">
			<td>{{x.id}}</td>
			<td>{{x.customer.id}}</td>
			<td>{{x.order_Date | date:MM-dd-YY}}</td>
			<td><button ng-click = "showOrder(x)">More Info</button></td>
		</tr>
	</table>
</div>


<div ng-hide = "hide == 0" style = "margin-left:25%">
	<table class="table">
		<thead>
			<tr>
				<th>Order ID#</th>
				<th>Line Item#</th>
				<th>Quantity</th>
				<th>From Inventory ID</th>
			</tr>
		</thead>
		<tr
			ng-repeat="x in lineitems | orderBy:sortType:sortReverse | filter:searchItem">
			<td>{{x.order.id}}</td>
			<td>{{x.id}}</td>
			<td>{{x.quantity}}</td>
			<td>{{x.inventoryItem.id}}</td>
			<td><button ng-click = "goBack()">Go Back</button></td>
		</tr>
	</table>


</div>



