<!DOCTYPE html>
<html ng-app="adminLoginApp">
<head>
<meta charset="ISO-8859-1">
<title>WorldTree Manager Login</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- This loads JS (angular & ui-router) -->
<script src="http://code.angularjs.org/1.2.13/angular.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<!-- Importing fonts to use for the site -->
<link href="https://fonts.googleapis.com/css?family=Sacramento"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
	rel="stylesheet">
<script src="JS/login.js"></script>

<style>
body{
	background-color: #d9ffb3;
}
.jumbotron {
	margin-left: 350px;
	margin-right: 350px;
	background-color: #ffbf80;
	align: center;
}

.btn {
	background-color: #d9ffb3;
}

.alert {
	background-color: #b3ffd9;
}

h1 {
	font-family: Sacramento;
}
</style>
</head>
<body>
	<div>
		<div class="container-fluid">
			<br> <br> <br> <br> <br> <br>
			<div class="jumbotron">
				<h1>Manager Login</h1>
				<br>

				<!-- ng-controller="AdminCtrl as auth" -->
				<div>
					<form name="adminForm" ng-controller="AdminCtrl as auth"
						ng-submit="auth.doLogin()">
						<input type="text" ng-model="auth.admin.email"
							class="form-control" placeholder="Email"><br> <input
							type="password" ng-model="auth.admin.password"
							class="form-control" placeholder="Password"><br>
						<button type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>