@charset "ISO-8859-1";

.center {
		margin: auto;
    width: 50%;
}

.btn {
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
}

.bg-format {
	background: url("../resources/beige-geo.jpg") no-repeat center fixed;
  background-size: cover;
}

.btn-green {
  color: #000000;
  background-color: #99ff99;
  border-color: #99ff99;
}
.btn-green:focus,
.btn-green.focus {
  color: #000000;
  background-color: #55cc55;
  border-color: #55cc55;
}
.btn-green:hover {
  color: #000000;
  background-color: #55cc55;
  border-color: #55cc55;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-info {
  color: #000000;
  background-color: #408840;
  border-color: #408840;
}
.btn-green:active:hover,
.btn-green.active:hover,
.open > .dropdown-toggle.btn-green:hover,
.btn-green:active:focus,
.btn-green.active:focus,
.open > .dropdown-toggle.btn-green:focus,
.btn-green:active.focus,
.btn-green.active.focus,
.open > .dropdown-toggle.btn-green.focus {
  color: #000000;
  background-color: #408840;
  border-color: #307830;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-image: none;
}
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
fieldset[disabled] .btn-green.focus {
  background-color: #3498db;
  border-color: #3498db;
}
.btn-green .badge {
  color: #3498db;
  background-color: #ffffff;
}

.btn-orange {
  color: #000000;
  background-color: #ffbf80;
  border-color: #ffbf80;
}
.btn-orange:focus,
.btn-orange.focus {
  color: #000000;
  background-color: #c87f0a;
  border-color: #7f5006;
}
.btn-orange:hover {
  color: #000000;
  background-color: #c87f0a;
  border-color: #be780a;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #000000;
  background-color: #c87f0a;
  border-color: #be780a;
}
.btn-orange:active:hover,
.btn-orange.active:hover,
.open > .dropdown-toggle.btn-orange:hover,
.btn-orange:active:focus,
.btn-orange.active:focus,
.open > .dropdown-toggle.btn-orange:focus,
.btn-orange:active.focus,
.btn-orange.active.focus,
.open > .dropdown-toggle.btn-orange.focus {
  color: #000000;
  background-color: #a66908;
  border-color: #7f5006;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  background-image: none;
}
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus {
  background-color: #f39c12;
  border-color: #f39c12;
}
.btn-orange .badge {
  color: #f39c12;
  background-color: #ffffff;
}

.panel-green {
  border-color: #99ff99;
}
.panel-green > .panel-heading {
  color: #000000;
  background-color: #99ff99;
  border-color: #99ff99;
}
.panel-green > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #99ff99;
}
.panel-green > .panel-heading .badge {
  color: #99ff99;
  background-color: #ffffff;
}
.panel-green > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #99ff99;
}
